<div class="marketing">
  <% if text == 'announcement' %>
    <div class="footer">
      <p class="pull-right">
      Search with <a href="/announcements#27-06-2015">Telegram</a>
      </p>
      <p class="clear">
        Read our latest <a href="/announcements">announcement</a>
      </p>
    </div>
  <% else %>
    <div class="footer">
      <p>
        Developed with love using <a href="https://www.ruby-lang.org/en/">Ruby</a>. Source can be found on <a href="https://github.com/amree/teecket-web">GitHub</a>. Use the Facebook page for any feedbacks or reports, so, please don't forget to like our Page :)
      </p>
    </div>
  <% end %>

  <div class="fb-like" data-href="https://facebook.com/teecket-web" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
</div>
