<%= partial 'partials/logo' %>

<div class="announcements">
  <h3 id="27-06-2015">27 June 2015</h3>
  <p>
    Great news! We've created a Telegram bot to make it easier for you to search for tickets. Just visit <a href="https://telegram.me/TeecketBot">https://telegram.me/TeecketBot</a> from your mobile phone and click <strong>Send Message</strong>.
  </p>

  <p>
    In order to use it, just type something such as below:
  </p>

  <code>
    KBR KUL 31-12-2015
  </code>

  <p></p>

  <p>
    It's that easy. Please try it and if  you have any problem, just post it on our <a href="https://www.facebook.com/teecketweb">Facebook</a> page.
  </p>
</div>

<%= partial 'partials/marketing', locals: { text: 'about' } %>
