<div class="logo text-center">
  <img src="/images/logo64.png" />
</div>

<div class="text-center">

  <h1>Oops! This is embarassing, you have reached to the wrong destination.</h1>
  <a href="/" class="btn btn-primary">Back to the homepage</a>

</div>